QUESTION 8

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\Jigar\Downloads\chromedriver_win32")

In [4]:
driver.get("https://www.azquotes.com/")

In [6]:
Quotes=[]
Authors=[]
Typeofquotes=[]

In [7]:
quote_title=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_title[0:100]:
    quote_title=i.text
    Quotes.append(quote_title)

In [8]:
author_name=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_name[0:100]:
    author_name=i.text
    Authors.append(author_name)

In [9]:
quotetype=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quotetype[0:100]:
    quotetype=i.text
    Typeofquotes.append(quotetype)

In [11]:
print(len(Quotes),len(Authors),len(Typeofquotes))

100 100 100

In [12]:
df=pd.DataFrame({'Quotes':Quotes,'Authors':Authors,'Typeofquotes':Typeofquotes})

In [13]:
df

,Quotes,Authors,Typeofquotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

QUESTION 10

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [15]:
driver=webdriver.Chrome(r"C:\Users\Jigar\Downloads\chromedriver_win32")

In [20]:
driver.get("https://www.motor1.com/")

In [21]:
car_names=[]
prices=[]

In [25]:
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags[0:51]:
    car=i.text
    car_names.append(car)

In [23]:
price_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]/span')
for i in price_tags[0:51]:
    price=i.text
    prices.append(price)

In [26]:
print(len(car_names),len(prices))

51 51

In [27]:
df=pd.DataFrame({'Cars':car_names,'Price':prices})

In [28]:
df

                                Cars Price
0                      De Tomaso P72
1                  Ferrari LaFerrari
2                      Pagani Huayra
3                       McLaren Elva
4                        Czinger 21C
5                      Ferrari Monza
6                 Gordon Murray T.33
7                  Koenigsegg Gemera
8                        Zenvo TSR-S
9                 Hennessey Venom F5
10                   Bentley Bacalar
11     Hispano Suiza Carmen Boulogne
12            Bentley Mulliner Batur
13                      Deus Vayanne
14                       SSC Tuatara
15                       Lotus Evija
16               Aston Martin Vulcan
17                        Delage D12
18                 McLaren Speedtail
19                      Rimac Nevera
20                     Pagani Utopia
21              Pininfarina Battista
22                 Ferrari FXX K Evo
23                Gordon Murray T.50
24              Lamborghini Countach
25          Mercedes-AMG Project One
26               Aston Martin Victor
27       Hennessey Venom F5 Roadster
28                  Koenigsegg Jesko
29             Aston Martin Valkyrie
30         W Motors Lykan Hypersport
31                     McLaren Solus
32         Pagani Huayra Roadster BC
33          Bugatti Chiron Pur Sport
34                  Lamborghini Sian
35                  Koenigsegg CC850
36   Bugatti Chiron Super Sport 300+
37                Lamborghini Veneno
38                    Bugatti Bolide
39                   Bugatti Mistral
40               Pagani Huayra Imola
41                      Bugatti Divo
42               SP Automotive Chaos
43                  Pagani Codalunga
44          Mercedes-Maybach Exelero
45                Bugatti Centodieci
46           Bugatti Chiron Profilée
47              Rolls-Royce Sweptail
48          Bugatti La Voiture Noire
49            Rolls-Royce Boat Tail*
50  Most Expensive Cars In The World

QUESTION 7

In [1]:

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\Jigar\Downloads\chromedriver_win32")

In [3]:
driver.get("https://www.amazon.in/")

In [4]:
Title_lap=[]
Rating_lap=[]
Price_lap=[]

In [5]:
title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag[0:10]:
    title_tag=i.text
    Title_lap.append(title_tag)

In [6]:
titles_rat=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-popover"]')
for i in titles_rat[0:10]:
    titles_rat=i.get_attribute("aria-label")
    Rating_lap.append(titles_rat)

In [7]:
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    price_tag=i.text
    Price_lap.append(price_tag)

In [9]:
print(len(Title_lap),len(Rating_lap),len(Price_lap))

0 0 5

In [12]:
df=pd.DataFrame({'Name':Title_lap[0:10],'Rating':Rating_lap[0:10],'Price':Price_lap[0:10]})

ValueError: All arrays must be of the same length

In [68]:
df

                                                Name Rating     Price
0  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...           98,990
1  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...           80,990
2  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...           69,990
3  Acer Predator Helios Neo 16 Gaming Laptop 13th...         1,29,990
4  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...         1,03,990
5  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           84,999
6  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...         1,15,990
7  Dell G15-5530 Gaming Laptop, Intel Core i7-136...         1,31,860
8  HP Victus Gaming Latest 12th Gen Intel Core i7...         1,01,278
9  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           93,990

Question 1

In [13]:

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [14]:
driver=webdriver.Chrome(r"C:\Users\Jigar\Downloads\chromedriver_win32")

In [15]:
driver.get("https://www.shine.com/")

In [16]:
designation=[]
location=[]
company=[]

In [24]:
job_title=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]')
for i in job_title[0:10]:
    job_title=i.text
    designation.append(job_title)

In [25]:
job_location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in job_location[0:10]:
    job_location=i.text
    location.append(job_location)

In [26]:
company_name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_name[0:10]:
    company_name=i.text
    company.append(company_name)

In [27]:
print(len(designation),len(location),len(company))

11 11 20

In [28]:
df=pd.DataFrame({'Designation':designation[0:10],'Location':location[0:10],'Company':company[0:10]})

In [29]:
df

      Designation       Location                                 Company
0  Hot\n1 day ago  Bangalore\n+4                         quiscon biotech
1  Hot\n1 day ago  Bangalore\n+4           acme services private limited
2      5 days ago      Bangalore           acme services private limited
3      5 days ago      Bangalore  orcapod consulting services pvt. lt...
4      6 days ago  Bangalore\n+1            pricewaterhousecoopers (pwc)
5      1 week ago      Bangalore                        acura solutions.
6      7 days ago  Bangalore\n+1     sdl multilingual solutions, pvt ltd
7  Hot\n1 day ago      Bangalore        vega intellisoft private limited
8      6 days ago      Bangalore                                 mercede
9      1 week ago      Bangalore             pylon management consulting

Q 6

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\Jigar\Downloads\chromedriver_win32")

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
Brand_title=[]

In [11]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles:
        Brand_title.append(i.text)
        
        time.sleep(5)
        next_button=driver.find_elements(By.XPATH,'//span[@class="_22Tduf"]')

In [12]:
len(Brand_title)

0